@font-face {
    font-family: Imperial_Script;
    src: url(../Fonts/Imperial.ttf);
}

@font-face {
    font-family: Yrsa_Italic;
    src: url(../Fonts/Yrsa/Yrsa-Italic-VariableFont_wght.ttf)
}
@font-face {
    font-family: Yrsa;
    src: url(../Fonts/Yrsa/Yrsa-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    border: 0;
    padding: 0;
}

navbar {
    display: flex;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-around;
    align-items:flex-start;
    height: 10vh;
    background-color: #050A32;
    color: white;
    font-size: 48px;
    font-family: Imperial_Script;
    border-bottom: 5px solid #9A91B4;
    z-index: 2;
}

navbar .btnNavText {
    padding-top: 20px;
}
.btnNavText a {
    padding: 10px;
}
.btnNavText:hover {
    background: #1E1E1E;
    position: relative;
}
.btnNavText:hover .dropDownList {
    display: flex;
    flex-direction: column;
}
.dropDownList{
    background: #1E1E1E;
    position: relative;
    display: none;
    flex-direction: column ;
    font-size: 22px;
    font-family: Yrsa;
    margin-top: 10%;
}
.btnNavText:hover .dropDownList :hover {
    background-color: #727a83;
}



/* SIDE MENU ---------------*/
#sideMenu {
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #050A32;
    width: 250px;
    position: fixed;
    z-index: 1;
    
    transition-duration: 0.35s;
}
.sideMenuClose {
    transform: translate3d(-250px, 0, 0);
}
.sideMenuSubMenu {
    padding-top: 12vh;
    padding-left: 30px;
}
.sideMenuTitle {
    color: white;
    font-size: 32px;
    font-family: Yrsa_Italic;
    font-weight: 100;
    text-decoration: underline;
}
.sideMenuSubMenuItem {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.sideMenuSubMenuItem button{
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-family: Yrsa_Italic;
}
/* SIDE MENU END-----------------------*/


/* Rétrecissement du main et background avec la sideBar */
#background_img {
    height: 90vh;
    padding-top: 10vh;
    height: 100%;   
    position: fixed;
    z-index: -1;
    
    transition-duration: 0.35s;
}
#mainWindow {
    height: 90vh;
    padding-top: 10vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    transition-duration: 0.35s;
}
.NotFull {
    width : calc(100% - 249px);
    padding-left: 249px;
}
.Full {
    width: 100%;
    padding-left: 0;
}
/* END */


/* MAIN */
h1 {
    font-size: 32px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 50px;
}
.leftBlockText {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 35%;
    color: white;
    font-family: Yrsa;
    font-size: 24px;
    font-weight: lighter;
}
.leftBlockText h2 {
    font-family: Yrsa_Italic;
    font-weight: normal;
    font-size: 35px;
    text-decoration: underline;
    
}


.middleTitle {
    margin-top: 60px;
    font-family: Yrsa_Italic;
    font-weight: normal;
    font-size: 35px;
    text-decoration: underline;
}

.projectGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

/* PROJECT CARD */
.projectCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #1E1E1E;
    border: 5px solid #CECECE;
    cursor: pointer;
    margin: 20px;
}

.projectCard:hover {
    border-color: #050A32;
}
.projectCard h3 {
    padding: 5px;
    font-size: 35px;
    text-decoration: underline;
    font-weight: 500;
}
.projectCard h4 {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
}
.projectCard p {
    margin: 10px;
}

.textProjectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}












@media screen and (max-width: 600px) {

    /* Stop le rétrécissement du main pour le mettre en dessous de la sidebar*/
    #background_img {
        width : 100%;
        padding-left: 0%;
    }
    #mainWindow {
        width: 100%;
        padding-left: 0%;
    }

    navbar {
        font-size: 36px;
    }
    .projectCard {
        width: 300px;
    }
} 
